@font-face {
    font-family: dock11;
    src: url(heavy-dock11.otf);
}
.heading{
    position: relative;
    font-size: 20px;
    font-family: dock11;
    letter-spacing: 3px;
    color: rgb(85, 77, 77);
}
 
    body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        user-select: none;
        background: #c1c0b0;
    }

    .container {
        margin-left: 1.8em;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 13px 13px 20px #cbced1,
            -13px -13px 20px #cbced1;
            background: linear-gradient(110deg, #ff2400, #e81d1d,
                #e8b71d, #e3e81d, #1de840, #2b1de8, #1ddde8, #dd00f3, #dd00f3);

        background-size: 1800% 1800%;

        -webkit-animation: rainbow 14s ease infinite;
        -z-animation: rainbow 14s ease infinite;
        -o-animation: rainbow 14s ease infinite;
        animation: rainbow 14s ease infinite;
    }

    .content {
        width: 100%;
        margin-top: 1.7em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .row button {
        width: 60px;
        height: 30px;
        font-size: 16px;
        border: none;
        outline: none;
        margin: 5px;
        border-radius: 4px;
        transition: .1s;
        box-shadow: 5px 5px 8px #00000020,
            -5px -5px 8px #ffff;
    }

    .row button:hover {
        box-shadow: inset 5px 5px 8px rgba(16, 16, 16, .1),
            inset -5px -5px 8px #fff;
        background: #fff;
       

        



    }
    @-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
  100%{background-position:0% 82%}  

}

    .display #screen {
        margin-bottom: .5em;
        width: auto;
        height: 70px;
        font-size: 35px;
        outline: none;
        border: none;
        text-align: right;
        padding-right: .5em;
        background: #ecf0f3;
        border-radius: 6px;
        box-shadow: inset 8px 8px 8px #cbced1,
            inset -8px -8px 8px #ffffff;
    }

    #eval {
        background: #33ccff;
        color: #fff;
        box-shadow: inset 5px 5px 8px #66d9ff,
            inset -5px -5px 8px #00ace6;
    }

    #eval:hover {
        box-shadow: inset 5px 5px 8px #00ace6,
            inset -5px -5px 8px #00ace6;
    }

    #ac {
        background: #33cc33;
        color: #fff;
    }

    #ac:hover {
        box-shadow: inset 5px 5px 8px #2eb82e,
            inset -5px -5px 8px #33cc33;
    }

    #ce {
        background: #ff3399;
        color: #fff;
    }

    #ce:hover {
        box-shadow: inset 5px 5px 8px #e60073,
            inset -5px -5px 8px #ff3399;
    }
